<div class="selector">
    <span (click)="languageSelected='spanish'" class="flag-icon flag-icon-es"></span>
    <span (click)="languageSelected='english'" class="flag-icon flag-icon-gb"></span>
    <span (click)="languageSelected='german'" class="flag-icon flag-icon-de"></span>
    <span (click)="languageSelected='french'" class="flag-icon flag-icon-fr"></span>
    <span (click)="languageSelected='italian'" class="flag-icon flag-icon-it"></span>
    <span (click)="languageSelected='thai'" class="flag-icon flag-icon-th"></span>
    <span (click)="languageSelected='portuguese'" class="flag-icon flag-icon-pt"></span>
    <span (click)="languageSelected='polish'" class="flag-icon flag-icon-pl"></span>
    <span (click)="languageSelected='danish'" class="flag-icon flag-icon-dk"></span>
    <span (click)="languageSelected='dutch'" class="flag-icon flag-icon-at"></span>
    <span (click)="languageSelected='finnish'" class="flag-icon flag-icon-fi"></span>
    <span (click)="languageSelected='norwegian'" class="flag-icon flag-icon-no"></span>
    <span (click)="languageSelected='swedish'" class="flag-icon flag-icon-se"></span>
    <span (click)="languageSelected='hungarian'" class="flag-icon flag-icon-hu"></span>
    <span (click)="languageSelected='czech'" class="flag-icon flag-icon-cz"></span>
    <span (click)="languageSelected='romanian'" class="flag-icon flag-icon-ro"></span>
    <span (click)="languageSelected='turkish'" class="flag-icon flag-icon-tr"></span>
    <span (click)="languageSelected='brazilian'" class="flag-icon flag-icon-br"></span>
    <span (click)="languageSelected='bulgarian'" class="flag-icon flag-icon-bg"></span>
    <span (click)="languageSelected='greek'" class="flag-icon flag-icon-gr"></span>
    <span (click)="languageSelected='ukranian'" class="flag-icon flag-icon-ua"></span>
    <span (click)="languageSelected='latam'" class="flag-icon flag-icon-mx"></span>
    <span (click)="languageSelected='vietnamese'" class="flag-icon flag-icon-vn"></span>
    
    <div class="idioma">
        <a class="texto">{{languageSelected}}</a>
    </div>

</div>
