.div {
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  float: center;
  height: 10%;
  width: 100%;
  background-color: #38404c;
}

.imagen {
  float: left;
  width: 75px;
  height: 75px;
  padding-left: 20px;
}

h3 {
  display: inline-block;
  margin: 0 auto;
  width: 200px;
  color: white;
}

input {
  float: right;
  margin-right: 20px;
}
