version: '3'
services:
  redis:
    image: redis:4.0.5-alpine
    command: ["redis-server", "--appendonly", "yes"]
    hostname: redis
    networks:
      - backend
    volumes:
      - redis-data:/data

networks:
  backend:

volumes:
  redis-data:
