<div class="cuerpo">
  <table>
    <tr>
      <td>
        <ul>
          <li>
            <span class="texto">
              Siglas:	UAL
            </span>
          </li>
          <li>
            <span class="texto">
              Lema:	In lumine Sapientia. Universitas Almeriensis
            </span>
          </li>
          <li>
            <span class="texto">
              Tipo:	Universidad pública
            </span>
          </li>
          <li>
            <span class="texto">
              Fundación:	1993
            </span>
          </li>
        </ul>
      </td>
      <td>
        <div #map style="width: 100%;height: 100%;"></div>
      </td>
      <td>
        <a href="http://cms.ual.es/UAL/en/estudios/grados/plandeestudios/asignaturas/asignatura/GRADO4015?idAss=40154305&idTit=4015&anyo_actual=2018-19">Página DRA</a>
      </td>
    </tr>
  </table>
</div>
