.example-card {
  max-width: 300px;
  background-color: #cacdd1;
}
  
.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.row{
  margin-right: 0px;
  margin-left: 0px;
}
  
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5 {
  min-height: 1px; 
  position: relative;
}

.col-xs-5 {
  float: left;
  width: 20%;
}

@media (min-width: 768px) {
  .col-sm-5 {
    float: left;
    width: 20%;
  }
}

@media (min-width: 992px) {
  .col-md-5 {
    float: left;
    width: 20%;
  }
}

@media (min-width: 1200px) {
  .col-lg-5 {
    float: left;
    width: 20%;
  }
}