<h1>{{title}}</h1>
<hr />
<div class="row" >
  <div class="col-lg-5 col-md-5 mb-5" *ngFor="let usu of usuarios; index as i">
    <mat-card class="example-card">
      <mat-card-content  >
        <img  mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <strong>{{usu}}</strong>
        
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        
      </mat-card-content>
    </mat-card>
  <p>
  </div>
</div>


